acme==2.10.0
aiohttp==3.9.5
aiohttp-rpc==1.3.1
aiorwlock==1.4.0
anyio==4.4.0
asyncssh==2.14.2
attrs==23.2.0
aws-requests-auth==0.4.3
boto3==1.34.119
botocore==1.34.119
certbot-dns-cloudflare==2.10.0
certbot-dns-ovh==2.10.0
container-runtime-interface-api==1.0.0
dns-lexicon==3.17.0
git+https://github.com/truenas/python-prompt-toolkit.git@84d42cd#egg=prompt-toolkit==3.0.37
google-api-python-client==2.132.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
pyroute2==0.7.12
PyYAML==6.0.1
remote-pdb==2.1.0
websocket-client==1.8.0
