aiohttp==3.12.14
aiosignal==1.4.0
certbot-dns-digitalocean==4.0.0
certbot-dns-ovh==4.0.0
dns-lexicon==3.18.0
google-auth==2.35.0
protobuf==5.29.2
ptable==0.9.2
python-digitalocean==1.17.0
git+https://github.com/truenas/python-prompt-toolkit.git@84d42cd#egg=prompt-toolkit==3.0.37
remote-pdb==2.1.0
