Source: python3-truenas-requirements
Section: admin
Priority: optional
Maintainer: Vladimir Vinogradenko <vladimirv@ixsystems.com>
Build-Depends: debhelper-compat (= 12), libffi-dev, python3-virtualenv
Standards-Version: 4.4.0
Homepage: https://truenas.com

Package: python3-aiohttp
Architecture: amd64
Depends: python3-aiohappyeyeballs (>= 2.5.0), python3-aiosignal (>= 1.4.0), python3-attr (>= 17.3.0), python3-frozenlist (>= 1.1.1), python3-idna (>= 2.0), python3-multidict (<< 7.0), python3-multidict (>= 4.5), python3-propcache (>= 0.2.0), python3-yarl (<< 2.0), python3-yarl (>= 1.17.0)
Description: Aiohttp for Python
 Aiohttp is a aiohttp library for Python.

Package: python3-aiohttp-rpc
Architecture: amd64
Depends: python3-aiohappyeyeballs (>= 2.5.0), python3-aiohttp (<< 4), python3-aiohttp (>= 3), python3-aiosignal (>= 1.4.0), python3-attr (>= 17.3.0), python3-frozenlist (>= 1.1.1), python3-idna (>= 2.0), python3-multidict (<< 7.0), python3-multidict (>= 4.5), python3-propcache (>= 0.2.0), python3-yarl (<< 2.0), python3-yarl (>= 1.17.0)
Description: Aiohttp-Rpc for Python
 Aiohttp-Rpc is a aiohttp-rpc library for Python.

Package: python3-aiorwlock
Architecture: amd64
Depends: 
Description: Aiorwlock for Python
 Aiorwlock is a aiorwlock library for Python.

Package: python3-aiosignal
Architecture: amd64
Depends: python3-frozenlist (>= 1.1.0)
Description: Aiosignal for Python
 Aiosignal is a aiosignal library for Python.

Package: python3-certbot-dns-digitalocean
Architecture: amd64
Depends: python3-acme (>= 4.0.0), python3-certbot (>= 4.0.0), python3-certifi (>= 2017.4.17), python3-cffi (>= 1.12), python3-charset-normalizer (<< 4), python3-charset-normalizer (>= 2), python3-configargparse (>= 1.5.3), python3-configobj (>= 5.0.6), python3-cryptography (>= 43.0.0), python3-digitalocean (>= 1.11), python3-distro (>= 1.0.1), python3-idna (<< 4), python3-idna (>= 2.5), python3-josepy (>= 2.0.0), python3-jsonpickle, python3-openssl (>= 25.0.0), python3-parsedatetime (>= 2.6), python3-pycparser, python3-requests (>= 2.25.1), python3-rfc3339, python3-urllib3 (<< 3), python3-urllib3 (>= 1.21.1)
Description: Certbot-Dns-Digitalocean for Python
 Certbot-Dns-Digitalocean is a certbot-dns-digitalocean library for Python.

Package: python3-certbot-dns-ovh
Architecture: amd64
Depends: python3-acme (>= 4.0.0), python3-bs4 (>= 4), python3-certbot (>= 4.0.0), python3-certifi (>= 2017.4.17), python3-cffi (>= 1.12), python3-charset-normalizer (<< 4), python3-charset-normalizer (>= 2), python3-configargparse (>= 1.5.3), python3-configobj (>= 5.0.6), python3-cryptography (>= 43.0.0), python3-distro (>= 1.0.1), python3-dns-lexicon (>= 3.15.1), python3-dnspython (>= 2), python3-filelock (>= 3.0.8), python3-idna (<< 4), python3-idna (>= 2.5), python3-josepy (>= 2.0.0), python3-openssl (>= 25.0.0), python3-parsedatetime (>= 2.6), python3-pycparser, python3-pyotp (>= 2), python3-requests (>= 2.25.1), python3-requests-file (>= 1.4), python3-rfc3339, python3-soupsieve (>>1.2), python3-tldextract (>= 2), python3-typing-extensions (>= 4.0.0), python3-urllib3 (<< 3), python3-urllib3 (>= 1.21.1), python3-yaml (>= 3)
Description: Certbot-Dns-Ovh for Python
 Certbot-Dns-Ovh is a certbot-dns-ovh library for Python.

Package: python3-dns-lexicon
Architecture: amd64
Depends: python3-bs4 (>= 4), python3-certifi (>= 2017.4.17), python3-cffi (>= 1.12), python3-charset-normalizer (<< 4), python3-charset-normalizer (>= 2), python3-cryptography (>= 2), python3-dnspython (>= 2), python3-filelock (>= 3.0.8), python3-idna (<< 4), python3-idna (>= 2.5), python3-pycparser, python3-pyotp (>= 2), python3-requests (>= 2), python3-requests-file (>= 1.4), python3-soupsieve (>>1.2), python3-tldextract (>= 2), python3-typing-extensions (>= 4.0.0), python3-urllib3 (<< 3), python3-urllib3 (>= 1.21.1), python3-yaml (>= 3)
Description: Dns-Lexicon for Python
 Dns-Lexicon is a dns-lexicon library for Python.

Package: python3-google-auth
Architecture: amd64
Depends: python3-cachetools (<< 6.0), python3-cachetools (>= 2.0.0), python3-pyasn1 (>= 0.1.3), python3-pyasn1-modules (>= 0.2.1), python3-rsa (<< 5), python3-rsa (>= 3.1.4)
Description: Google-Auth for Python
 Google-Auth is a google-auth library for Python.

Package: python3-protobuf
Architecture: amd64
Depends: 
Description: Protobuf for Python
 Protobuf is a protobuf library for Python.

Package: python3-ptable
Architecture: amd64
Depends: 
Description: Ptable for Python
 Ptable is a ptable library for Python.

Package: python3-digitalocean
Architecture: amd64
Depends: python3-certifi (>= 2017.4.17), python3-charset-normalizer (<< 4), python3-charset-normalizer (>= 2), python3-idna (<< 4), python3-idna (>= 2.5), python3-jsonpickle, python3-requests, python3-urllib3 (<< 3), python3-urllib3 (>= 1.21.1)
Description: Python-Digitalocean for Python
 Python-Digitalocean is a python-digitalocean library for Python.

Package: python3-prompt-toolkit
Architecture: amd64
Depends: python3-wcwidth
Description: Prompt-Toolkit for Python
 Prompt-Toolkit is a prompt-toolkit library for Python.

Package: python3-pyroute2
Architecture: amd64
Depends: 
Description: Pyroute2 for Python
 Pyroute2 is a pyroute2 library for Python.

Package: python3-remote-pdb
Architecture: amd64
Depends: 
Description: Remote-Pdb for Python
 Remote-Pdb is a remote-pdb library for Python.
