#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	./build.sh

override_dh_gencontrol:
	dh_gencontrol
	dh_gencontrol -ppython3-acme -- -v2.10.0
	dh_gencontrol -ppython3-aiohttp -- -v3.9.5
	dh_gencontrol -ppython3-aiohttp-rpc -- -v1.3.1
	dh_gencontrol -ppython3-aiorwlock -- -v1.4.0
	dh_gencontrol -ppython3-anyio -- -v4.4.0
	dh_gencontrol -ppython3-asyncssh -- -v2.14.2
	dh_gencontrol -ppython3-attr -- -v23.2.0
	dh_gencontrol -ppython3-aws-requests-auth -- -v0.4.3
	dh_gencontrol -ppython3-boto3 -- -v1.34.119
	dh_gencontrol -ppython3-botocore -- -v1.34.119
	dh_gencontrol -ppython3-certbot-dns-cloudflare -- -v2.10.0
	dh_gencontrol -ppython3-certbot-dns-ovh -- -v2.10.0
	dh_gencontrol -ppython3-container-runtime-interface-api -- -v1.0.0
	dh_gencontrol -ppython3-dns-lexicon -- -v3.17.0
	dh_gencontrol -ppython3-prompt-toolkit -- -v3.99.99
	dh_gencontrol -ppython3-googleapi -- -v2.132.0
	dh_gencontrol -ppython3-google-auth -- -v2.29.0
	dh_gencontrol -ppython3-google-auth-httplib2 -- -v0.2.0
	dh_gencontrol -ppython3-pyroute2 -- -v0.7.12
	dh_gencontrol -ppython3-pyyaml -- -v6.0.1
	dh_gencontrol -ppython3-remote-pdb -- -v2.1.0
	dh_gencontrol -ppython3-websocket -- -v1.8.0
